__pycache__/animation.cpython-313.pyc
hangman_terminal/hangman_terminal.egg-info
hangman_terminal/dist
hangman_terminal/build
debug.log
.vscode
.github/workflows
venv
hangman_terminal/hangman_terminal/__pycache__/
test.py
